@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
@import '../../node_modules/tailwindcss/base.css';
@import '../../node_modules/tailwindcss/components.css';
@import '../../node_modules/tailwindcss/utilities.css';

.custom-scrollbar {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .custom-scrollbar {
        background-color: transparent;
        -webkit-background-clip: text;
        transition: background-color 0.8s;
    }
    .custom-scrollbar:hover {
        background-color: #4d4d4d;
    }
    .custom-scrollbar::-webkit-scrollbar {
        width: 5px;
    }
    .custom-scrollbar::-webkit-scrollbar-track {
        display: none;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: inherit;
    }
}
