@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
@import '../../node_modules/tailwindcss/base.css';
@import '../../node_modules/tailwindcss/components.css';
@import '../../node_modules/tailwindcss/utilities.css';

.boardsVerticalScrollbar {
    overflow-y: scroll;
    padding-left: 5px;
}

.boardsVerticalScrollbar::-webkit-scrollbar {
    width: 5px;
}

.boardsVerticalScrollbar:hover {
    &::-webkit-scrollbar-thumb {
        background-color: #444444;
    }
}

.boardsVerticalScrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 8px;
}

.statusesScrollbar::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.statusesScrollbar::-webkit-scrollbar-thumb {
    background-color: #3b3b3b;
    border-radius: 8px;
}

.statusesScrollbar::-webkit-scrollbar-track {
    background: #171717;
}
